.topPasswordPart {
  display: flex;
  flex-direction: column;
}

.capsInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  color: #45a049;
  font-weight: bold;
}

.capsLock {
  display: flex;
  justify-content: space-between;
}

.passwordInputText {
  margin-left: -55px;
  width: 40px;
  color: #a8a8a8;
  display: block;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  font-weight: 600;
}
.passwordInputText:hover {
  cursor: pointer;
}

#createPassword, #confirmPassword {
  width: 100%;
  margin-bottom: 0px;
}

.passwordInputPart {
  display: flex;
  align-items: center;
}

.bottomPasswordPart {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  gap: 4px
}

.strengthLevel {
  border: black solid 0px;
  background-color: rgb(209, 209, 209);
  border-radius: 20px;
  height: 10px;
  width: 100%;
}

.textPart .strength {
  display: block;
  text-align: right;
  color: rgb(209, 209, 209);
  /* color: rgb(177, 177, 177); */
  font-weight: 600;
}

.active-1 {background-color: red;}
.active-2 {background-color: yellow;}
.active-3 {background-color: green}
.active-4 {background-color: blue;}


.isEightLong, .hasUppercase, .hasNumber, .hasSpecial {
  svg {
    width: 25px;
    height: 25px;
  }

  span {
    font-weight: 600;
    color: #464646;
  }
}